<section class="mx-5">
  <h1 class="text-2xl font-bold text-amber-500">Pipes Personalizados</h1>
  <h3 class="text-xl font-thin">Pipes no incluidos en Angular</h3>
</section>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">ToggleCase Pipe</div>
    <div class="stat-value">{{ name() | toggleCase : upperCase() }}</div>
    <div class="stat-desc">Formato original: {{ name() }}</div>
    <button class="btn btn-primary" (click)="upperCase.set(!upperCase())">
      Toggle Case
    </button>
  </div>
</div>

<div class="divider my-2"></div>

<section class="mx-2.5">
  <h1 class="text-xl font-bold text-amber-500">
    Filtrando por: XXX ordenando por: {{ sortBy() }}
  </h1>
  <div class="flex gap-2 xl:justify-end w-full xl:px-56">
    <button (click)="sortBy.set('name')" class="btn btn-primary flex-1">
      Por nombre
    </button>
    <button (click)="sortBy.set('canFly')" class="btn btn-accent flex-1">
      Por volador
    </button>
    <button (click)="sortBy.set('color')" class="btn btn-info flex-1">
      Por color
    </button>
    <button (click)="sortBy.set('creator')" class="btn btn-warning flex-1">
      Por creador
    </button>
  </div>
</section>

<section class="overflow-x-auto w-full">
  <table class="table table-xs w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Puede volar</th>
        <th>Color</th>
        <th>Creador</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      @for (hero of heroes() | heroSortBy: sortBy() ; track hero.id; let i =
      $index) {

      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ hero.name }}</td>
        <td>
          <span
            class="text-xs w-44"
            [class.text-success]="hero.canFly"
            [class.text-warning]="!hero.canFly"
          >
            {{ hero.canFly | canFly }}
          </span>
        </td>

        <td>
          <span class="text-xs w-44" [style.color]="hero.color | heroTextColor">
            {{ hero.color | heroColor | titlecase }}
          </span>
        </td>
        <td>
          <span
            [class.text-primary]="hero.creator === 0"
            [class.text-secondary]="hero.creator === 1"
          >
            {{ hero.creator | heroCreator }}
          </span>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
