<section class="mx-5">
  <h1 class="text-2xl font-bold text-amber-500">Pipes Personalizados</h1>
  <h3 class="text-xl font-thin">Pipes no incluidos en Angular</h3>
</section>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">ToggleCase Pipe</div>
    <div class="stat-value">{{ name() | toggleCase : upperCase() }}</div>
    <div class="stat-desc">Formato original: {{ name() }}</div>
    <button class="btn btn-primary" (click)="upperCase.set(!upperCase())">
      Toggle Case
    </button>
  </div>
</div>
