<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold text-amber-500">Pipes poco comunes</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <app-card title="i18nSelectPipe">
    <p>
      Saludos
      <span class="text-amber-400 font-bold">{{ client().name }}</span
      >, es un placer
      <span class="text-amber-400 font-bold">{{
        client().gender | i18nSelect : invitationMap
      }}</span>
      a nuestro evento
    </p>
    <button (click)="changeCliente()" class="btn btn-primary">
      Cambiar cliente
    </button>
  </app-card>

  <app-card title="i18nPluralPipe">
    <p>
      En estos momentos
      {{ clients().length | i18nPlural : clientsMap() }}
    </p>
    <button
      [disabled]="!clients().length"
      (click)="deleteClient()"
      class="btn btn-primary"
    >
      Borrar cliente de la lista
    </button>
  </app-card>

  <app-card title="KeyValuePipe">
    <!-- <pre>      {{ profile | keyvalue | json }}    </pre> -->

    <ul>
      @for (client of profile | keyvalue; track $index) {
      <li>
        <strong class="text-primary"> {{ client.key | titlecase }}: </strong>
        <span>{{ client.value }}</span>
      </li>
      }
    </ul>
  </app-card>

  <app-card title="JsonPipe">
    <pre class="text-primary">{{ clients() | json }}</pre>
    <pre class="text-primary">{{ client() | json }}</pre>
    <p class="text-primary">{{ clients().join(", ") | json }}</p>
  </app-card>

  <app-card title="SlicePipe">
    <b>Original</b>
    <p class="text-primary">
      {{ clients().join(", ") }}
    </p>
    <div class="divider"></div>
    <b class="mt-2">Slice: 0 : 2</b>
    <p class="text-primary">
      {{ (clients() | slice : 0 : 2).join(", ") }}
    </p>
    <div class="divider"></div>
    <b class="mt-2">Slice: 1 : 2</b>
    <p class="text-primary">
      {{ (clients() | slice : 1 : 2).join(", ") }}
    </p>
    <div class="divider"></div>
    <b class="mt-2">Slice: 2 : 4</b>
    <p class="text-primary">
      {{ (clients() | slice : 2 : 4).join(", ") }}
    </p>
    <div class="divider"></div>
    <b class="mt-2">Slice: 1 : -3</b>
    <p class="text-primary">
      {{ (clients() | slice : 1 : -3).join(", ") }}
    </p>
  </app-card>
</div>
