<section class="mx-5">
  <h1 class="text-2xl font-bold text-amber-500">Pipes Básicos</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title text-xl">Lowercase pipe</div>
    <div class="stat-value text-4xl">{{ nameUpper() | lowercase }}</div>
    <div class="stat-desc text-sm">{{ nameUpper() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title text-xl">Uppercase Pipe</div>
    <div class="stat-value text-4xl">{{ nameLower() | uppercase }}</div>
    <div class="stat-desc text-sm">{{ nameLower() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title text-xl">TitleCase Pipe</div>
    <div class="stat-value text-4xl">{{ fullName() | titlecase }}</div>
    <div class="stat-desc text-sm">{{ fullName() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title text-xl">Date pipe</div>
    <div class="stat-value text-4xl">{{ customDate() | date }}</div>
    <div class="stat-desc text-sm pt-1">{{ customDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title text-xl">Date | long | GMT+1</div>
    <div class="stat-value text-4xl">
      {{ customDate() | date : "long" : "GMT+1" }}
    </div>
    <div class="stat-desc text-sm pt-1">{{ customDate() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title text-xl">Date pipe: "yyyy MM"</div>
    <div class="stat-value text-4xl">{{ customDate() | date : "yyyy MM" }}</div>
    <div class="stat-desc text-sm pt-1">{{ customDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title text-xl">Date | short | GMT+1</div>
    <div class="stat-value text-4xl">
      {{ customDate() | date : "short" : "GMT+1" }}
    </div>
    <div class="stat-desc text-sm pt-1">{{ customDate() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title text-xl">Date pipe: "dd/MM/yyyy"</div>
    <div class="stat-value text-4xl">
      {{ customDate() | date : "dd/MM/yyyy" }}
    </div>
    <div class="stat-desc text-sm pt-1">{{ customDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title text-xl">Date pipe: "HH:mm:ss"</div>
    <div class="stat-value text-4xl">
      {{ customDate() | date : "HH:mm:ss" }}
    </div>
    <div class="stat-desc text-sm pt-1">{{ customDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title text-xl">Date pipe: "HH:mm:ss"</div>
    <div class="stat-value text-4xl">
      {{ customDate() | date : "EEEE d, MMMM" }}
    </div>
    <div class="stat-desc text-sm pt-1">{{ customDate() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="gap-2 flex flex-row mb-4">
  <h1 class="text-2xl font-bold">
    Locale Actual:
    <span class="badge badge-secondary">{{ currentLocale() }}</span>
  </h1>

  <button (click)="changeLocale('fr')" class="btn btn-primary">
    Changer en français
  </button>
  <button (click)="changeLocale('en')" class="btn btn-primary">
    Change to english
  </button>
  <button (click)="changeLocale('es')" class="btn btn-primary">
    Cambiar a español
  </button>
</div>
